*.jou
*.log
*.xml
*.app
*.csproject
*.rpt
*.rpx
*.pb
*.project
*.cproject
*.rst
*.sh
*.bat
*.txt
*.html
*.bd
*.xdc
*.bmm
*.bxml
*.dcp
*.dmp
*.ld
*.spec
platform*.*

**/*.runs
**/*.srcs
**/Debug
**/.apc
**/.settings
**/solution1
**/webtalk
**/.metadata
**/.sdk